{% extends 'Assets/popUp.html.twig' %}

{% block form_start %}

	<form method="post" action="{{ path('create_thematic') }}">
	{% endblock %}

	{% block body %}
		<div class="row">
			<div class="d-flex bd-highlight">
				<div class="flex-grow-1 bd-highlight">
					<h1 class="text-center pb-3">Add Thematic</h1>

					{{ form_row(Thematic_form.code) }}
					{{ form_row(Thematic_form.name) }}

				</div>
				{# <div class="p-2 bd-highlight w-50"></div> #}
			</div>
		</div>
	{% endblock %}

	{% block form_button %}
		<button type="submit" class="btn btn-primary">add</button>
	{% endblock %}

	{% block form_end %}
		{{ form_end(Thematic_form) }}
	{% endblock %}
