{% extends 'base.html.twig' %}

{% block title %}Dashboard
{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-md-offset-1 col-md-10">
				<div class="panel">
					<div class="panel-heading">
						<div class="row">
							<div class="col col-sm-3 col-xs-12">
								<h4 class="title">Data
									<span>List</span>
								</h4>
							</div>
							<div class="col-sm-9 col-xs-12 text-right">
								<div class="btn_group">
									<input type="text" class="form-control" placeholder="Search">
									<button class="btn btn-default" title="Reload">
										<i class="fa fa-sync-alt"></i>
									</button>
									<button class="btn btn-default" title="Pdf">
										<i class="fa fa-file-pdf"></i>
									</button>
									<button class="btn btn-default" title="Excel">
										<i class="fas fa-file-excel"></i>
									</button>
								</div>
							</div>
						</div>
					</div>
					<div class="panel-body table-responsive">
						<table class="table">
							<thead>
								<tr>
									{% for items in var %}
										<td>{{ items.name }}</td>
									{% endfor %}

								</tr>
							</thead>
							<tbody>
								{% for row in resultSet %}
									<tr>
										{% for items in var %}
											<td>
												{{ row[items.name] }}
											</td>
										{% endfor %}

									</tr>
								{% endfor %}

							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
