{% extends 'base.html.twig' %}

{% block title %}Dashboard
{% endblock %}

{% block body %}
	{# <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"/> #}

	<div class="container">
		<div class="row">
			<div class="col-md-offset-1 col-md-10">
				<div class="panel">
					<div class="panel-heading">
						<div class="row">
							<div class="col col-sm-3 col-xs-12">
								<h4 class="title">Data
									<span>List</span>
								</h4>
							</div>
						</div>
					</div>
					<div class="panel-body table-responsive">
						<table class="table" id="Table_Dataset">
							<thead>
								<tr class="text-center">
									{% for items in var %}
										<td>{{ items.name }}</td>
									{% endfor %}
								</tr>
							</thead>
						</tr>
					</thead>
					<tbody>
						{% for row in resultSet %}
							<tr>
								{% for items in var %}
									<td>
										{{ row[items.name] }}
									</td>

								{% endfor %}
							</tr>
						{% endfor %}

					</tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock %}
