{% extends 'base.html.twig' %}

{% block title %}Daftar Data
{% endblock %}

{% block stylesheet %}
	{{ parent() }}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"/>
{% endblock %}

{% block body %}
	{{ parent() }}
	{% block head %}
		{{ parent() }}

	{% endblock %}

	<div class="fluid py-4">
		{% include "/tables/index.html.twig" %}

		{% include "/Assets/footer.html.twig" %}
	</div>
	<div class="fixed-plugin">
		<a class="fixed-plugin-button text-dark position-fixed px-3 py-2">
			<i class="fa fa-cog py-2"></i>
		</a>
	</div>
	{% include "/Assets/coreJS.html.twig" %}
{% endblock %}

{% block javascript %}
	{{ parent() }}
{% endblock %}
